[submodule "gekkonet"]
	path = gekkonet
	url = https://github.com/HeatXD/GekkoNet.git
[submodule "weyvelength"]
	path = weyvelength
	url = https://github.com/HeatXD/Weyvelength.git
[submodule "sdl"]
	path = sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua.git
